~/MyProjects/Geoduck_Meth/RAnalysis/Data/Extracted
~/MyProjects/Geoduck_Meth/RAnalysis/Data/Genome
~/MyProjects/Geoduck_Meth/RAnalysis/Data/GO_MWU
.Rproj.user
RAnalysis/Output/Pg-10xCpGs-Gene-Overlaps.txt
